@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

:root {
    --font-principal: 'Montserrat', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #2D2D2D;
}

.container {
    max-width: 780px;
    margin: 0 auto;
}

.container-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.container-nav .nav nav {
    display: flex;
    gap: 17px;
    margin-top: 60px;
}

.container-nav .nav nav button {
    width: 200px;
    height: 40px;
    font-size: 12px;
    font-family: var(--font-principal);
    text-transform: uppercase;
    color: white;
    background: linear-gradient(#EA916B, #E05A4D);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border: none;
    border-radius: 0.625rem;
    cursor: pointer;
}

.container-nav .title {
    margin-top: 45px;
    border-bottom: 2px solid #707070;
    position: relative;
}

.container-nav .title h1 {
    font-family: var(--font-principal);
    color: white;
    margin-bottom: 3px;
    font-size: 22px;
    font-weight: normal;
}

.container-nav .title::after {
    content: '';
    display: block;
    height: 6px;
    width: 20px;
    background: linear-gradient(#EA916B, #E05A4D);
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px;
    margin: 0 auto;
}

.introducao {
    margin-top: 30px;
    max-width: 100%;
    background: #EA916B;
    border-radius: 0.625rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.introducao .article {
    padding: 40px;
}

.introducao .article p {
    font-family: var(--font-principal);
    font-size: 15px;
    font-weight: 300;
    line-height: 1.4rem;
    color: white;
}

.introducao .article .text-two {
    margin-top: 26px;
}

@media(max-width: 480px) {
    .container-nav .nav nav {
        flex-direction: column;
    }

    .introducao .article {
        padding: 20px;
    }
}